exportPattern("^[[:alpha:]]+")

import(neuralnet)
import(caret)
import(e1071)
import(imager)
import(ggplot2)
import(dplyr)
import(miscTools)
import(OpenImageR)
import(data.tree)
import(DiagrammeR)
import(ROCR)
import(caTools)
